.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-form h2 {
  text-align: center;
}

.logo-info {
  width: 50px;
}

.social-icons {
  width: 50px;
  margin-top: 20px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 20px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.social-icons a:last-child {
  margin-right: 0;
}
.s-icon {
  width: 50px;
}

.contact-form-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left-side {
  width: 50%;
  padding: 20px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  padding: 5px;
}
.main-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button.send-button {
  background-color: skyblue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
